[(#HTTP_HEADER{Content-type: text/xml[; charset=(#CHARSET)]})]<?xml version="1.0"[ encoding="(#CHARSET)"]?>
<rss version="2.0" [(#REM) rss 2.0.9)]
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
>

<channel[ xml:lang="(#LANG)"]>
	<title>[(#NOM_SITE_SPIP|textebrut|texte_backend)]</title>
	<link>#URL_SITE_SPIP/</link>
	<description>[(#DESCRIPTIF_SITE_SPIP|supprimer_tags|texte_backend)]</description>
	<language>#LANG</language>
	<generator>SPIP - www.spip.net</generator>

[	<image>
		<title>[(#NOM_SITE_SPIP|texte_backend)]</title>
		<url>(#LOGO_SITE_SPIP|image_reduire{144,400}|extraire_attribut{src}|url_absolue|texte_backend)</url>
		<link>#URL_SITE_SPIP/</link>
		[<height>(#LOGO_SITE_SPIP|image_reduire{144,400}|extraire_attribut{height})</height>]
		[<width>(#LOGO_SITE_SPIP|image_reduire{144,400}|extraire_attribut{width})</width>]
	</image>
]

<item[ xml:lang="(#LANG)"]>
<BOUCLE_date_manuelle(ARTICLES){id_article=18}>
<BOUCLE_test(CONDITION){si #TEXTE**|=={auto}}>
	<title>Premier Samedi du [(#PSL_PROCHAINEDATE|psl_datelitterale)]</title>
        <link>#URL_SITE_SPIP/</link>
        [<guid >#URL_SITE_SPIP/(#PSL_PROCHAINEDATE|psl_date_iso)</guid>]
	[<dc:date>(#PSL_PROCHAINEDATE|psl_date_iso)</dc:date>]
</BOUCLE_test>
	<title>Premier Samedi du [(#TEXTE**|affdate)]</title>
        <link>#URL_SITE_SPIP/</link>
        [<guid >#URL_SITE_SPIP/(#TEXTE**|affdate{'Y-m-d'})</guid>]
	[<dc:date>(#TEXTE**|affdate{'Y-m-d'})</dc:date>]
<//B_test>
</BOUCLE_date_manuelle>   

	<dc:format>text/html</dc:format>
	[<dc:language>(#LANG)</dc:language>]
</item>
</channel>

</rss>
