﻿/*
Theme Name: premiersamedi
Description: a clean and simple theme using HTML5 and CSS3 properties
Version: 1.0
Author: nicoduv
Author URI: http://nicoduv.fr
*/


@font-face {
    font-family: 'QuicksandBook';
    src: url('typo/Quicksand_Book-webfont.eot');
    src: url('typo/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('typo/Quicksand_Book-webfont.woff') format('woff'),
         url('typo/Quicksand_Book-webfont.ttf') format('truetype'),
         url('typo/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'QuicksandBold';
    src: url('typo/Quicksand_Bold-webfont.eot');
    src: url('typo/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('typo/Quicksand_Bold-webfont.woff') format('woff'),
         url('typo/Quicksand_Bold-webfont.ttf') format('truetype'),
         url('typo/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'QuicksandDash';
    src: url('typo/Quicksand_Dash-webfont.eot');
    src: url('typo/Quicksand_Dash-webfont.eot?#iefix') format('embedded-opentype'),
         url('typo/Quicksand_Dash-webfont.woff') format('woff'),
         url('typo/Quicksand_Dash-webfont.ttf') format('truetype'),
         url('typo/Quicksand_Dash-webfont.svg#QuicksandDash') format('svg');
    font-weight: normal;
    font-style: normal;
}


header, hgroup, section, footer, aside, nav, article { 
	display: block;   
}


/* GENERAL */

.spip_documents_center{ text-align:center;}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image: url("images/fond.jpg");
	background-attachment: fixed;
	background-position: left center;
	background-color: #FFF;
	color: #000;
	margin: 0;
	padding: 0;
}
#wrapper {
	background: none;
	margin: 0 auto;
	width: 100%;
}

a {
	color: lime;
	text-decoration: none;		
}

a:hover {
	color: lime;
	text-decoration: underline;		
}
 
a:visited {
	color: lime;
	text-decoration: none;		
}

img {
	border: none;
}

img a, img a:hover, img a:visited {
	border: none;
}

/* HEADER */

#leftcontent {
	left: 20px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	position: fixed;
	top: 0;
	bottom: 90px;
	width: 250px;
	z-index: 1001;
	background-color: rgba(0, 0, 0, 0.8);
	
}


#logo {
    position: absolute;
    width: 100%;
    top: 24px;
    left: 0;
	padding: 0;
	text-align: center;
}
#logo img a {
	border: none;
	margin: 0;
}
#logo p {
	font-family: 'QuicksandBook';
	color: #ffffff;
	font-size: 1.1em;
	margin: 5px 0 0 0;
}
#navlist {
	width: 100%;
	background: transparent;
	margin: 0;
	padding: 0;
	border-top: 1px solid #666666;
	display: block;
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 125px;
}
#navlist ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#navlist li {
	color: #FFF;
	border-bottom: 1px solid #666666;
}
#navlist li a {
	display: block;
	color: #FFF;
	font-size: 1.1em;
	font-family: 'QuicksandBold';
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0.6em 0 0.6em 0;
}
#navlist li a:hover, #navigation li a:focus, #navigation li a:active {
	font-family: 'QuicksandBold';
	text-decoration: none;
	color: lime;
	background-image: url("images/trans2.png");
	background-attachment: repeat;
}
#navlist .on > a {
	font-family: 'QuicksandBold';
	text-decoration: none;
	color: lime;
	background-image: url("images/trans2.png");
	background-attachment: repeat;
}

/* POST */

#maincontent {
	display: block;
	padding-left: 270px;
	height: 100%;
}
#rightcontent {
	width: 480px;
	margin: 0 auto;
	padding: 60px 7% 40px 7%;
	position: relative;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFF;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
}
#mobilelogo {
	display: none;
	visibility: hidden;
}
#mobilenav {
	display: none;
	visibility: hidden;
}
.mobileretour {
	display: none;
	visibility: hidden;
}
#titre h1 {
	font-family: 'QuicksandBold';
	text-transform: uppercase;
	margin: 20px 0 40px 0;
	padding: 0;
	line-height: 1.2em;
	font-size: 2em;
	text-align: center;
	color: #191919;
}
#titreinfos h1 {
	font-family: 'QuicksandBold';
	text-transform: uppercase;
	margin: 20px 0 40px 0;
	padding: 0;
	line-height: 1.2em;
	font-size: 2em;
	text-align: center;
	color: #191919;
}
#titreinfos h1 a {
	color: #191919;
	text-decoration: none;
}
#titreinfos h1 a:hover {
	color: lime;
	text-decoration: none;
}
#titreinfos h1:after {
	content: url("images/etoile.png");
        float: left;
        margin: 8px 0 12px 0;
        width: 100%;
}
.titre {
	font-family: 'QuicksandBook';
}
.titredate {
	font-family: 'QuicksandBold';
	padding: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: #191919;
}
.date {
	margin: 0 0 40px 0;
	text-align: center;
	font-size: 0.8em;
	color : lime;
	text-transform: uppercase;
}

#contenu a span.retour {
	color: #333;
	font-size: 12px;
}

#contenu {
	margin: 20px 0 60px 0;
}
#contenu h3 { 
	margin: 40px 0 20px 0;
	color: #191919;
	font-size: 1.4em;
	font-family: 'QuicksandBold';
	text-transform: uppercase;
	text-align: center;
}
#contenu h2 {
	color: #191919;
	font-size: 1.3em;
	font-family: 'QuicksandBook';
}
#contenu h4 {
	color: #191919;
	font-size: 1.2em;
	font-family: 'QuicksandBook';
}
#contenu h2 a, h3 a, h4 a { 
	color: lime;
}
#contenu p {
	line-height: 1.6em;
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #191919;
	margin: 0 0 20px 0;
	padding: 0;
	/*text-align: justify;*/
}
#contenu p a {
	color: lime;
	text-decoration:none;
}
#contenu p a:hover {
	text-decoration: underline;
}
#contenu p.postmetadata {
	margin-bottom: 80px;
	font: 13px/20px Georgia, "Times New Roman", Times, serif
}
#contenu ul, ol {
	line-height: 1.6em;
	font-size: 1em;
	color: #191919;
	/*text-align: justify;*/
	margin-left: 20px;
	padding-left: 0;
}

#contenu ol li, #contenu ul li {
margin-bottom: 20px;
}

#contenu ul li {
	list-style-image: url("images/fleche.png");
	margin-left: 0;
	padding-left: 0;
}

#contenu ul ul {
	margin-top: 5px;
}

#contenu ul ul li {
margin-bottom: 8px;
}

#contenu ul ul li {
	list-style-image: url("images/puce.png");
	font-size: 0.9em;
	line-height: 1.5em;
}

#contenu table {
	border-collapse: collapse;
}
#contenu td, th {
	color: #666;
	font-size: 90%;
	padding: 5px;
	border: 1px solid #EAEAEA;
}
#contenu blockquote {
	background: none;
	margin: 40px 0;
}
#contenu address {
	font-size: 0.8em;
}


/* FOOTER */

#general {
	left: 20px;
	bottom: 0;
	margin-right: 0;
	padding: 0;
	position: fixed;
	width: 250px;
	z-index: 1002;
	background: transparent;
	color: #FFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 0.8em;
	height: 144px;
	background-color: rgba(0, 0, 0, 0.8);
}

#general a {
	color: #FFF;
	text-decoration: none;
}

#general img {
	display: block;
	padding-top: 10px;
	margin: auto;
}

#general a:hover {
	color: #FFF;
	text-decoration: underline;
}
#general a:visited {
	color: #FFF;
	text-decoration: none;
}

/*correction des labels pour les formulaires */
label {
	display: block;
	text-align: center;
}
ul.editer-groupe {
	list-style-type: none;
	text-align: center;
	padding-left: 0;
}
input {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#contenu ul.editer-groupe li {
	list-style: none;
}


/* MEDIA QUERIES */

@media screen and (max-width: 840px) {
	body {
		width: auto !important;
		margin: auto !important;
		padding: auto !important;
		background-color:#191919 !important;
		background-image: none !important;
	}
	#wrapper {
		width: auto !important;
		background: transparent;
		margin: 0 !important;
		padding: 0 !important;
	}
	#leftcontent {
		display: none !important;
		visibility: hidden;
	}
	#maincontent {
		width: auto !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	#rightcontent {
		width: auto !important; 
		margin: auto !important;
		padding: 20px 0 0 0 !important;
		background-color: #FFF !important;
		color: #000;
	}
	#contenu {
		margin: 0 4% !important;
	}
	#contenu p {
		text-align: left !important;
	}
	#mobilelogo {
		display: block;
		visibility: visible;
		text-align: center;
		margin: 40px 0;
	}
	#mobilelogo p {
		font-family: 'QuicksandBook';
		color: #ffffff;
		font-size: 1.1em;
	}
	#mobilenav {
		display: block;
		visibility: visible;
		width: auto;
		margin-top: 50px;
		margin-bottom: 20px;
		padding-bottom: 50px;
	}
	#mobilenav h2 {
		text-align: center;
		text-transform: uppercase;
		font: 1.3em 'QuicksandBold';
	}
	#mobilenav ul {
		list-style: none;
		background: none;
		margin: 0;
		padding: 0;
		border-top: 1px solid #CCC;
	}
	#mobilenav li {
		color: #000;
		border-bottom: 1px solid #CCC;
	}
	#mobilenav li a {
		display: block;
		color: #000;
		font: 1.2em 'QuicksandBold';
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		padding: 10px 0;
	}
	#mobilenav li a:hover, #navigation li a:focus, #navigation li a:active {
		background-color: lime;
		text-decoration: none;
		color: #FFF;
	}
	#mobilenav .on > a {
		background-color: lime;
		text-decoration: none;
		color: #FFF;
	}
	.mobileretour {
		display: block;
		visibility: visible;
	}
	#general {
		display: block;
		width: auto !important;
		margin: auto !important;
		font: 11px Tahoma, Geneva, sans-serif;
		text-align: center;
		color: #ccc;
		padding-top: 30px;
		position: relative !important;
		left: 0;
	}
}
