[(#REM) Ce modèle peut être utilisé dans n'importe quel champ texte sous la forme
<ensavoirplus{id}> où {id} est le numéro de l'article (exemple : <ensavoirplus9> pour un lien vers l'article 9).

Il construit un lien avec le texte « savoir plus » et un attribut title plus complet avec en particulier le titre
de la page, ce qui est mieux pour l'accessibilité.

Ce modèle s'occupe également du placement à droite du lien « en savoir plus ».

]<BOUCLE_article(ARTICLES){id_article=#ID}>
<div style="text-align:right"><a href="#URL_ARTICLE" title="En savoir plus sur [(#TITRE|texte_backend)]">en savoir +</a></div>
</BOUCLE_article>